.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 3rem;
    text-align: center;
    font-family: arial;
    border-radius: 10px 10px; /* Added border-radius */
  }

  .product--image {
    width: 100%;
    height: 16em;
    border-radius: 10px 10px; /* Added border-radius */
    object-fit: cover;
  }

  .price {
    color: grey;
    font-size: 22px;
  }